@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@700&display=swap");

body,
html {
  font-family: "Cormorant", serif;
  margin: 0;
  padding: 0;
  background: #f7f7f7;
}

body {
  display: flex;
  justify-content: space-around;
}

h1 {
  font-size: 52px;
  text-align: center;
  font-weight: 200;
  color: #424242;
}

h2 {
  font-size: 16px;
  color: #424242;
  padding: 8px;
  border-radius: 4px;
}

#header--players {
  display: flex;
  justify-content: center;
  align-items: center;
}

.player--header {
  width: 132px;
}

#player1-header {
  padding: 0.8em 1.6em;
  margin: 0;
  border-radius: 0.15em;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  color: #ffffff;
  background-color: rgb(47, 113, 235);
  box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.2);
  text-align: center;
  position: relative;
  border: none;
}

#player2-header {
  padding: 0.8em 1.6em;
  margin: 0;
  border-radius: 0.15em;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  color: #ffffff;
  background-color: rgb(235, 116, 47);
  box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.2);
  text-align: center;
  position: relative;
  border: none;
}

#header {
  width: calc(100% - 20px);
  margin: 0 auto;
}

#paragraph--start-instructions {
  text-align: center;
}

.mode-selection--button {
  font-family: "Cormorant", serif;
  padding: 0.8em 1.6em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.15em;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 800;
  color: #ffffff;
  background-color: rgb(47, 113, 235);
  box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.2);
  text-align: center;
  position: relative;
  border: none;
}

.mode-selection--button:active {
  top: 0.1em;
}

.reset--button {
  padding: 0.8em 1.6em;
  width: 100%;
  border-radius: 0.15em;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  color: #ffffff;
  background-color: rgb(47, 113, 235);
  box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.2);
  text-align: center;
  position: relative;
  border: none;
}

.reset--button:active {
  top: 0.1em;
}

#view--starting-screen {
  background: rgb(255, 255, 255);
  border: rgb(230, 230, 230) 2px solid;
  border-radius: 8px;
  max-width: 400px;
  margin-top: 32px;
  padding: 32px;
  box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.2);
}

#header-connect4 {
  margin-top: 0;
  font-weight: 600;
}

#starting-screen--start-buttons {
  display: flex;
  justify-content: center;
  margin-top: 32px;
}

#view--play-screen {
  background: rgb(255, 255, 255);
  border: rgb(230, 230, 230) 2px solid;
  border-radius: 8px;
  max-width: 400px;
  margin-top: 32px;
  padding: 32px;
  box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.2);
}

#winner-modal {
  background: rgb(255, 255, 255);
  border: rgb(230, 230, 230) 2px solid;
  border-radius: 8px;
  max-width: 400px;
  margin-top: 32px;
  padding: 32px;
  box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.2);
}

#modal--button {
  padding: 0.8em 1.6em;
  margin: auto;
  border-radius: 0.15em;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  color: #ffffff;
  background-color: rgb(47, 113, 235);
  box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.2);
  text-align: center;
  border: none;
  margin: 0 25%;
}

#modal--header {
  margin-top: 0;
  font-weight: 600;
}

#main-header {
  margin-top: 0;
  font-weight: 600;
}

#enable-player2--button {
  margin-right: 32px;
}

#players {
  display: flex;
  justify-content: space-around;
}

#board {
  max-width: 322px;
  height: 100%;
  padding-top: 16px;
  margin: 0 auto;
}

.column {
  background: #ffffff;
  border: none;
  height: fit-content;
  border-radius: 4px;
  padding-top: 16px;
  cursor: pointer;
}

.column-gameEnd {
  background: #ffffff;
  border: none;
  height: fit-content;
  border-radius: 4px;
  padding-top: 16px;
  cursor: default;
}

.column:hover {
  background: #f5f5f5;
}

.slot-ownership-true {
  border: rgb(47, 113, 235) 2px solid;
  background: rgba(47, 113, 235, 50%);
  border-radius: 100%;
  height: 30px;
  width: 30px;
  margin-bottom: 16px;
}

.slot-ownership-false {
  border: rgb(235, 116, 47) 2px solid;
  background: rgba(235, 116, 47, 50%);
  border-radius: 100%;
  height: 30px;
  width: 30px;
  margin-bottom: 16px;
}

.slot-ownership-null {
  border: rgba(189, 189, 189, 0.5) 2px solid;
  border-radius: 100%;
  height: 30px;
  width: 30px;
  margin-bottom: 16px;
}

.scale-in-top {
  -webkit-animation: scale-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: scale-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes scale-in-top {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    opacity: 1;
  }
}
@keyframes scale-in-top {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    opacity: 1;
  }
}
